@charset 'utf-8';

@import "../_scss/abstract/mixin";
@import "../_scss/abstract/variable";

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -60px;
  left: 0;
  right: 0;
  display: inline-block;
  background: none;
}
.main_visual {
  position: relative;
  overflow: hidden;
  &_wrapper {
    padding-bottom: 60px;
  }
}
.slider {
  width: 960px;
  overflow: visible;
  height: 400px;
  &_item {
    width: 100%!important;
    position: relative;
  }
  &_btn {
    top: 22px;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: 11;
    cursor: pointer;
  }
  &_btn_prev::after,
  &_btn_next::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-color: $color-bg;
    border-style: solid;
    border-width: 0;
    border-top-width: 2px;
    border-right-width: 2px;
    top: 5px;
    bottom: 0;
    margin: auto;
  }
  &_btn_prev {
    left: -10px;
    &::after {
      transform: rotate(-135deg);
      right: 20px;
    }
  }
  &_btn_next {
    right: -10px;
    &::after {
      transform: rotate(45deg);
      left: 20px;
    }
  }
  @include device("tablet") {

  }
  @media screen and (max-width: 1024px)  {
    &_btn {
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
    }
    &_btn_prev {
      left: 20px;
      &::after {
        transform: rotate(-135deg);
        right: 0;
      }
    }
    &_btn_next {
      right: 20px;
      &::after {
        transform: rotate(45deg);
        left: 0;
      }
    }
  }
  @include device("sp") {
    width: 100%;
    height: auto;
    &_item {
      position: relative;
      &:not(.swiper-slide-active) {
        &::before {
          // display: none;
        }
      }
    }
    &_image {
      width: 100%;
      height: auto;
    }
    &_btn_prev {
      left: 20px;
    }
    &_btn_next {
      right: 20px;
    }
  }
}
.slider_thumnail {
  margin: 0 auto;
  .swiper-pagination-bullet {
    width: 100px;
    border-radius: 0;
    height: 40px;
    text-align: center;
    opacity: 1;
    text-indent: -99999px;
    border: 2px solid $color-bg;
    &:nth-child(1) {
      background: url(http://placehold.jp/eeeeee/3d4070/100x40.png?text=Slide1) no-repeat 0 0;
    }
    &:nth-child(2) {
      background: url(http://placehold.jp/eeeeee/3d4070/100x40.png?text=Slide2) no-repeat 0 0;
    }
    &:nth-child(3) {
      background: url(http://placehold.jp/eeeeee/3d4070/100x40.png?text=Slide3) no-repeat 0 0;
    }
    &-active {
      color: $color-bg;
      border-color: $color-main;
    }
  }
  @include device("sp") {
    .swiper-pagination-bullet {
      width: 90px;
      &:nth-child(1) {
        background: url(http://placehold.jp/eeeeee/3d4070/180x80.png?text=Slide1) no-repeat 0 0;
        background-size: 100% 100%;
      }
      &:nth-child(2) {
        background: url(http://placehold.jp/eeeeee/3d4070/180x80.png?text=Slide2) no-repeat 0 0;
        background-size: 100% 100%;
      }
      &:nth-child(3) {
        background: url(http://placehold.jp/eeeeee/3d4070/180x80.png?text=Slide3) no-repeat 0 0;
        background-size: 100% 100%;
      }
    }
  }
}
