@charset "UTF-8";
/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/
html {
  overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

object, embed {
  vertical-align: top;
}

hr, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, abbr, acronym, fieldset {
  border: 0;
}

ul li {
  list-style-type: none;
}

a, label {
  cursor: pointer;
}

img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

/*----------------------------------------
    ヘッダー
----------------------------------------*/
/*  小見出し
----------------------------------------*/
/*----------------------------------------
    フッター
----------------------------------------*/
/*  小見出し
----------------------------------------*/
/*---------------------------------------
  Base
----------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  font-size: 76%;
  font-weight: normal;
  color: #000000;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  line-height: 1.5;
}

a {
  color: #0085e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover img {
  -webkit-transition: opacity 0.3s 0.1s cubic-bezier(0.13, 0.78, 0.38, 0.98);
  transition: opacity 0.3s 0.1s cubic-bezier(0.13, 0.78, 0.38, 0.98);
  opacity: 0.5;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: inherit;
  color: inherit;
  /* stylelint-disable property-no-vendor-prefix */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable property-no-vendor-prefix */
  appearance: none;
}

input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand,
button::-ms-expand {
  display: none;
}

select,
button {
  margin: 0;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #a9a9a9;
}

:-ms-input-placeholder {
  color: #a9a9a9;
}

::placeholder {
  color: #a9a9a9;
}

svg {
  vertical-align: middle;
}

.sp_appear {
  display: none;
}

.overlay {
  display: none;
}

.body_text {
  font-size: 117%;
}

.body_text:not(:first-child) {
  margin-top: 20px;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.inner::after {
  display: block;
  clear: both;
  content: '';
  height: 0;
}

.section {
  margin-top: 60px;
}

.section_title {
  font-size: 150%;
  margin-bottom: 10px;
}

.header {
  background: #ffffff;
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
  z-index: 10;
  transition: top 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);
  -webkit-transition: top 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);
  -moz-transition: top 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);
}

.header_inner {
  height: inherit;
}

.header_logo {
  float: left;
  margin-top: 10px;
}

.header_logo_anchor {
  display: inline-block;
}

.header_right {
  height: inherit;
  float: right;
}

.header.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}

.global_nav {
  position: relative;
  height: inherit;
}

.global_nav_pull {
  display: none;
}

.global_nav_list {
  display: table;
  height: inherit;
}

.global_nav_list::after {
  display: block;
  clear: both;
  content: '';
  height: 0;
}

.global_nav_item {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.global_nav_item:not(:last-child) {
  padding-right: 50px;
}

.global_nav_anchor {
  display: block;
  font-size: 117%;
  text-transform: uppercase;
  color: #2196F3;
  font-weight: 700;
}

.global_nav_icon {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown_list {
  border-top: 3px solid #2196F3;
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 200px;
  top: 100%;
  left: 50%;
  right: 50%;
  margin-left: -125px;
  background: #1A237E;
  padding: 15px;
}

.dropdown_list_item {
  opacity: 0;
}

.dropdown_list_item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.dropdown_list_anchor {
  display: block;
  color: #ffffff;
  font-size: 117%;
}

.btn_menu {
  display: none;
}

.wrapper {
  margin-bottom: 100px;
  padding-top: 60px;
}

.footer {
  background-color: #1A237E;
  min-height: 250px;
}

.footer_inner {
  padding: 20px 0;
}

.footer_logo {
  text-align: center;
}

#back_top a {
  position: fixed;
  bottom: 100px;
  right: 100px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #0085e2;
  cursor: pointer;
}

#back_top a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top-width: 2px;
  border-right-width: 2px;
  right: 0;
  top: 5px;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 767px){
  body{
    min-width: 100%;
  }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm){
  img{
    image-rendering: -webkit-optimize-contrast;
  }
}
